@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* :root {
  --dark: ;
  --light: ;
}
 */
*,
*::before,
*::after {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* TYPOGRAPHY */

/* LAYOUT */

.site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  outline: 1px dashed orange; 
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-block: 10px;
  background-color: black;
}

.header-top {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;  
  font-size: 1.5rem;
}

header .site-logo {
  width: 4rem;
  /* margin-right: auto; for wider screens */
  text-transform: uppercase;
  font-weight: 900;
}

header a {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 600;
  padding: 5px 20px;
}

header a:hover {
  color: #161616;
  text-decoration: underline;
}

header button {
  width: 4rem;
  border: none;
  background-color: inherit;
  padding: 5px 20px;
  cursor: pointer;
}

.navigation-menu {
  outline: 1px dashed green;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.25rem;
}

.navigation-menu.expanded {
  display: flex;
}

main {
  
}

.page-container {
  outline: purple 1px solid;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 2rem;
}

.home-page-hero {
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.home-page-hero.tall {
  height: calc(100vh - 66px);
}

.home-page-hero.short {
  height: calc(100vh - 188px);
}

.home-page-content-container {
  background-color: bisque;
}

.contact-page-content-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-page-content-container.tall {
  height: calc(100vh - 66px);
}

.contact-page-content-container.short {
  height: calc(100vh - 188px);
}

.contact-page-links-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 0;
  padding: 1rem 0;
}

.contact-page-links-container i {
  font-size: 2rem;
}

footer {
  /* background-color: #161616;
  color: #aaaaaa; */
  height: 74px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  font-weight: 500;
}


/* UTILITY */



/* MEDIA QUERIES */

@media screen and (max-width: 767px) {
  .navigation-menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hamburger-btn {
    display: none;
  }

  header {
    height: 110px;
    flex-direction: row;
    align-items: center;
  }

  header .site-logo {
    font-size: 1.75rem;
    margin-right: auto;
  }

  .navigation-menu {
    flex-direction: row;
  }

  .home-page-hero.tall, 
  .home-page-hero.short {
    height: calc(100vh - 110px);
  }
  
}

@media screen and (min-width: 1024px) {
  
}


input,select {
  font-family: 'Poppins',sans-serif;
  color: #5c5b5b;
  outline: none;
}

input[type=text]:focus ,textarea:focus{
  outline: none !important;
  border: 1px solid #555;
  transition: .5s;
}