/* :root {
  --dark: ;
  --light: ;
}
 */
*,
*::before,
*::after {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

html {
  font-family: 'Carter One', cursive;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* TYPOGRAPHY */

/* LAYOUT */

main {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.site-wrapper {
  /* min-height: 100vh; */
  display: block;
  text-align: right;
  padding: 20px 20px 0 20px;
  white-space: nowrap;
  /* min-height: calc(var(6.3100000000000005px, 1vh)*100);  unneccessary? */ 
}

header {
  outline: 1px dashed orange;
  position: fixed;
  z-index: 10;
  top: 20px;
  left: 20px;
  bottom: calc(20px*2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  /* height: 100%; */
}

header .site-logo {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.5rem;
}

header a {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 600;
}

header a:hover {
  color: #161616;
  text-decoration: underline;
}

.navigation-menu {
  /* outline: 1px dashed green; */
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  padding-top: 2rem;
}

header button {
  /* outline: 1px dashed green; */
  border: none;
  background-color: inherit;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: 20px;
}

.page-container {
  outline: purple 1px solid;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: calc((20px*2) + 96px) calc(20px*2) 0 calc(20px*2);
  z-index: -1;
  /* padding-right: 20px; */
}

.cards-container {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.card {
  height: calc(1080px/8);
  width: calc(1920px/8);
  margin-left: auto;
  border: 2px black solid;
  border-radius: 8px;
  background-size: cover;
  opacity: 0.6;
}

.card:hover {
  opacity: 1;
  border: 2px pink solid;
}

.card-info {
  margin-bottom: 1rem;
  padding-right: 6px;
}

.contact-page-content-container {
  position: fixed;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: last baseline;
  text-align: right;
  right: 20px;
  bottom: calc(20px*2);
  padding-bottom: 20px;
}

.contact-page-links-container {
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 20px;
  height: 26px;
}
n
.contact-page-links-container i {
  font-size: 2rem;
  
}

footer {
  /* background-color: #161616;
  color: #aaaaaa; */
  position: absolute;
  z-index: 3;
  bottom: 0;
  height: 20px;
  width: 100%;
  display: flex;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: center;
  margin-top: auto;
  padding: 20px;
  font-weight: 500;
}


/* UTILITY */



/* MEDIA QUERIES */

@media screen and (max-width: 767px) {
  
}

@media screen and (min-width: 768px) {

  header .site-logo {
    font-size: 1.75rem;
    margin-right: auto;
  }
  
  nav a {
    font-size: 1.5rem;
  }

  .card {
    height: calc(1080px/5);
    width: calc(1920px/5);
  }
}

@media screen and (min-width: 1024px) {
  
}


input,select {
  font-family: 'Carter One', cursive;
  color: #5c5b5b;
  outline: none;
}

input[type=text]:focus ,textarea:focus {
  outline: none !important;
  border: 1px solid #555;
  transition: .5s;
}