/* :root {
  --dark: ;
  --light: ;
}
 */
*,
*::before,
*::after {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

/* html, body {
  margin: 0; 
  height: 100%; 
  overflow: hidden
} */

html {
  font-family: 'Carter One', cursive;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  overflow: hidden;
  width: 100%;
}

body {
  height: 100%;
  /* position: fixed; */
  overflow-y: scroll;
}

/* TYPOGRAPHY */

/* LAYOUT */

main {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

.site-wrapper {
  /* min-height: 100vh; */
  
  display: block;
  text-align: right;
  /* margin-top: 96px; */
  padding: 20px 20px 0 20px;
  white-space: nowrap;
  min-height: calc(var(6.3100000000000005px, 1vh)*100); 
  overflow-y: scroll;
}

.mask {
  opacity: 1;
  position: fixed;
  height: 96px;
  width: 100%;
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,0) 100%);
   
  z-index: 1;
}  


header {
  /* outline: 1px dashed orange; */
  position: fixed;
  z-index: 2;
  top: 20px;
  left: 20px;
  bottom: calc(20px*2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  
  /* height: 100%; */
}

header .site-logo {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.5rem;
}

header a {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 600;
}

header a:hover {
  color: #161616;
  text-decoration: underline;
}

.navigation-menu {
  /* outline: 1px dashed green; */
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  padding-top: 2.6rem;
}

header button {
  /* outline: 1px dashed green; */
  border: none;
  background-color: inherit;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: 20px;
  font-size: 1rem;
}

.page-container {
  /* outline: purple 1px solid; */
  /* position: fixed; */
  left: 0;
  top: 0;
  width: 100%;
  /* height: 100%; */
  
  /* min-height: 100vh; */
  /* overflow: hidden; */
  padding: calc(96px) 0 calc((20px)) calc(20px);
  /* z-index: -1; */
  /* padding-right: 20px; */
}

.cards-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.card {
  height: calc(1080px/9);
  width: calc(1920px/9);
  margin-left: auto;
  border: 2px black solid;
  border-radius: 8px;
  background-size: cover;
  opacity: 0.6;
}

.card:hover {
  opacity: 1;
  border: 2px pink solid;
}

.card-info {
  margin-bottom: 1rem;
  padding-right: 6px;
}

.contact-page-content-container {
  position: absolute;
  flex-grow: 1;
  text-align: right;
  right: 0;
  bottom: 40px;
  padding-bottom: 40px;
  gap: 1rem;
}

.contact-page-content-container h1 {
  font-size: 1.25rem;
  padding-bottom: 1rem;
}

.contact-page-links-container {
  display: flex;
  gap: 1rem;
  padding-bottom: 20px;
  height: 26px;
}

.contact-page-links-container i {
  font-size: 2rem;
}

footer {
  /* background-color: #161616;
  color: #aaaaaa; */
  position: fixed;
  /* z-index: 1; */
  bottom: 0;
  height: 20px;
  width: 100%;
  display: flex;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: center;
  margin-top: auto;
  padding: 20px;
  font-weight: 500;
}

.loading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  opacity: 0;
}

.loading-wrapper h1 {
  text-transform: uppercase;
}

.loading-wrapper h2 {
  font-style: italic;
}

/* UTILITY */

.fade-in-out {
  animation: fadeInOut 2.8s;
  -webkit-animation: fadeInOut 2.8s;
  -moz-animation: fadeInOut 2.8s;
  -o-animation: fadeInOut 2.8s;
  -ms-animation: fadeInOut 2.8s;
}

.fade-out-delay {
  animation: fadeOut 2.1s;
  -webkit-animation: fadeOut 2.1s;
  -moz-animation: fadeOut 2.1s;
  -o-animation: fadeOut 2.1s;
  -ms-animation: fadeOut 2.1s;
  animation-delay: 2s;
}

@keyframes fadeInOut {
  0% { opacity: 0}
  40% { opacity: 1}
  60% { opacity: 1}
  100% { opacity: 0}
}

@-moz-keyframes fadeInOut {
  0% { opacity: 0}
  40% { opacity: 1}
  60% { opacity: 1}
  100% { opacity: 0}
}

@-webkit-keyframes fadeInOut {
  0% { opacity: 0}
  40% { opacity: 1}
  60% { opacity: 1}
  100% { opacity: 0}
}

@-o-keyframes fadeInOut {
  0% { opacity: 0}
  40% { opacity: 1}
  60% { opacity: 1}
  100% { opacity: 0}
}

@-ms-keyframes fadeInOut {
  0% { opacity: 0}
  40% { opacity: 1}
  60% { opacity: 1}
  100% { opacity: 0}
}

@keyframes fadeOut {
  0% { opacity: 1}
  30% { opacity: 1}
  100% { opacity: 0}
}

@-moz-keyframes fadeOut {
  0% { opacity: 1}
  30% { opacity: 1}
  100% { opacity: 0}
}

@-webkit-keyframes fadeOut {
  0% { opacity: 1}
  30% { opacity: 1}
  100% { opacity: 0}
}

@-o-keyframes fadeOut {
  0% { opacity: 1}
  30% { opacity: 1}
  100% { opacity: 0}
}

@-ms-keyframes fadeOut {
  0% { opacity: 1}
  30% { opacity: 1}
  100% { opacity: 0}
}

.absolute {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  z-index: 10;
}

.behind {
  z-index: 9
}

/* MEDIA QUERIES */

/* @media screen and (max-width:375px) {
  .outer-container {
    display: flex;
    flex-direction: column;
  }

  header {
    position: static;
  }
} */

@media screen and (max-width: 400px) {
  .card {
    height: calc(1080px/11);
    width: calc(1920px/11);
  }
}

@media screen and (min-width: 400px) {
  .card {
    height: calc(1080px/9);
    width: calc(1920px/9);
  }
}

@media screen and (min-width: 440px) {
  .card {
    height: calc(1080px/8);
    width: calc(1920px/8);
  }
}

@media screen and (min-width: 500px) {
  .card {
    height: calc(1080px/7);
    width: calc(1920px/7);
  }
}

@media screen and (min-width: 600px) {
  .card {
    height: calc(1080px/6);
    width: calc(1920px/6);
  }
}

@media screen and (min-width: 768px) {

  header .site-logo {
    font-size: 1.75rem;
    margin-right: auto;
  }
  
  nav a {
    font-size: 1.5rem;
  }

  .card {
    height: calc(1080px/5);
    width: calc(1920px/5);
  }
}

@media screen and (min-width: 1024px) {

  header button {
    font-size: 1.5rem;
  }

  .contact-page-content-container h1 {
    font-size: 1.5rem;
  }

  .contact-page-links-container {
    padding-bottom: 38px;
  }

  .contact-page-links-container i {
    font-size: 2.5rem;
  }
}


input,select {
  font-family: 'Carter One', cursive;
  color: #5c5b5b;
  outline: none;
}

input[type=text]:focus ,textarea:focus {
  outline: none !important;
  border: 1px solid #555;
  transition: .5s;
}


/* LOCOMOTIVE SCROLL */
/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden; }

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.has-scroll-smooth body {
  overflow: hidden; }

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh; }

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap; }

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%; }

.c-scrollbar {
  /* display: none; */
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0; }
  .c-scrollbar:hover {
    transform: scaleX(1.45); }
  .c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
    opacity: 1; }
  [data-scroll-direction="horizontal"] .c-scrollbar {
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    transform: scaleY(1); }
    [data-scroll-direction="horizontal"] .c-scrollbar:hover {
      transform: scaleY(1.3); }

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab; }
  .has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing; }
  [data-scroll-direction="horizontal"] .c-scrollbar_thumb {
    right: auto;
    bottom: 0; }